@import './../Components/css/variables.scss';

.font {
    h1 {
        font-family: $font-heading;
        font-size: 60px;
    }

    p {
        font-family: $font-paragraph;
        font-size: 18px;
        margin-bottom: 0;
    }
};

